.loadingIndicator{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    background-color: #eeeeee;
    border:1px solid #000000;
    border-radius:0.8rem;
    position: absolute;
    z-index: 2;
    margin: auto;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
    width: 300px;
}