
#selectCadastroEstoque{
    margin-left: 0;
    border-radius: 0.8rem;
    width: 50rem;
    transition: all 0.2s;
    background-color: aliceblue;
    color:#111111;
    border: 1px solid #444444;
}

#selectCadastroEstoque:hover{
    border: 3px solid #1089ff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

@media screen and (max-width:1000px){
    #selectCadastroEstoque{
        width: 22rem;
    }
}