.mainSideBarMenu{
    display:flex;
    flex-direction: row;
}
.hidded-side-bar{
    background:#1167B1;
    width:0px;
    height:100vh;
}
.sidebar{
    min-width: 200px;
    width:240px;
    max-width: 240px;
    height: 100vh;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background:#1167B1;
    margin:0;
}
.item{
    background:#1167B1;
    color:#eeeeee;
    height: 46px;
    border-bottom: 0px solid #1089ff;
    transition: background 0.5s
}
.item:hover{
    background:#1E1E2C
}
.item-text{
    font: 400 1.2rem Montserrat;
    font-weight: bold;
}
.sub-item{
    background:#187bcd;
    color:#eeeeee;
}
.sub-item-text{
    font: 400 1rem Montserrat;
    
}
.button{
    display: flex;
    width: 50px;
    height: 48px;
    align-items: left;
    border: none;
    border-radius: 0.2rem;
}
.show{
    margin:0;
    width: 40%;
    height: 47px;
    border-bottom-right-radius: 0.3rem;
    background: url("../../assets/images/icons/showSideBarMenu.png");
    transition: width 0.2s;
    cursor:pointer;
    background-size: 52px 50px;
    background-position: -1px -1px;
}
.show:hover{
    width:100%
}
.hide{
    width: 40%;
    height: 47px;
    border: 10px;
    border-bottom-right-radius: 0.3rem;
    background: url("../../assets/images/icons/hideSideBarMenu.png");
    transition: width 0.2s;
    cursor: pointer;
    background-size: 52px 50px;
    background-position: -1px -1px;
}
.hide:hover{
    width:100%
}
@media screen and (max-width: 700px){
    .mainSideBarMenu{
        position: absolute;
        z-index: 2;
    }
    
}