.mainSideBarMenu{
    display:flex;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
    position: relative;
    z-index: 2;
    transition: width 0.2s;
}
.hidded-side-bar{
    background:#1167B1;
    width:0px;
}
.sidebar{
    width:300px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background:#1167B1;
    margin:0;
}
.item{
    background:#1167B1;
    color:#eeeeee;
    height: 46px;
    transition: background 0.5s
}
.item ListItem{
    height: 50px;
}
.item:hover{
    background:#1E1E2C
}
.item-text{
    font: 400 1rem Montserrat;
    font-weight: bold;
}
.sub-item{
    background:#187bcd;
    color:#eeeeee;
}
.sub-item-text{
    font: 400 1rem Montserrat;
    
}
.button{
    display: flex;
    width: 50px;
    height: 46px;
    align-items: left;
    border: none;
    border-radius: 0.2rem;
    background:none;
}
.show{
    margin:0;
    width: 40%;
    height: 47px;
    border-bottom-right-radius: 0.3rem;
    background: url("../../assets/images/icons/showSideBarMenu.png");
    transition: width 0.2s;
    cursor:pointer;
    background-size: 52px 50px;
    background-position: -1px -1px;
}
.show:hover{
    width:100%
}
.hide{
    width: 40%;
    height: 47px;
    border: 10px;
    border-bottom-right-radius: 0.3rem;
    background: url("../../assets/images/icons/hideSideBarMenu.png");
    transition: width 0.2s;
    cursor: pointer;
    background-size: 52px 50px;
    background-position: -1px -1px;
}
.hide:hover{
    width:100%
}
